<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '130627397562267',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
        });
        FB.AppEvents.logPageView();
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container-fluid qg-site-width">
    <div class="main-content">
        <h1>FaceBook Main</h1>
        <h2>{{title}}</h2>
    </div>
</div>